.detail_main1{
	height: 100%;
	width: 100%;
	background: #eeeeee;
	flex: 1;
	.main1_nav{
		width: 100%;
		background: white;
		display: flex;
		>a{
			flex: 1;
			font-size: 4vw;
			display: block;
			height: 12vw;
			line-height: 12vw;
			font-size: 3vw;
			color:black;
			border-bottom: 1px solid white;
			text-align:center;
		}
		.curr_m1child{
			color:#eb5269;
			border-bottom: 1px solid #eb5269;
		}
	}
}