.cake_index{
	width: 100%;
	overflow: auto;
	flex-direction:column;
	.index_header{
		background: #eb5269 url('../img/logo_bg.png') no-repeat 35vw 2vw;
		background-size: 28%;
		width: 100%;
		height: 12.8vw;
		overflow: hidden;
		text-align: center;
		padding-top: 4vw;
		position: relative;
		box-sizing:border-box;
		i:nth-child(1){
			margin-left: 4vw;
			left: 0vw;
			top: 4.5vw;
		};
		i{
			color:white;
			top: 4.9vw;
			position: absolute;
			left: 22vw;
		}
		button{
			width: 15vw;
			position: absolute;
			left: 7.4vw;
			height: 5vw;
			font-size: 3.7vw;
			outline:none;
			color:white;
			border:none;
			background:#eb5269;
		}
	}
	.banner{
		width: 100%;
		margin-bottom: 6.6vw;
		height: 56.8vw;
		position: relative;
		>div{
			width: 100%;
			height: 56.8vw;
			position: absolute;
			>img{
				width: 100%;
				height: 56.8vw;
			}
		}
	}
	.index_nav{
		display: flex;
		width: 100%;
		height:28vw;
		border-bottom: 2px solid #f194a2;
		a{
			flex: 1;
			display: block;
			width: 12vw;
			float: left;
			display: flex;
			align-items:center;
			flex-direction:column;
			height: 12vw;
			img{
				height: 12vw;
			}
			span{
				margin-top: 4vw;
				font-size: 3vw;
				color:black;
			}
		}
	}
	.types{
		box-sizing: border-box;
		padding:2.8vw 3vw 0;
		width: 100%;
		height: 12.67vw;
		position: relative;
		span{
			width: 19.2vw;
			height: 8vw;
			color:#cccccc;
			margin-top: 1vw;
			border-radius:6vw;
			border:1px solid #cccccc;
			display: block;
			float: left;
			text-align: center;
			line-height: 8vw;
		}
		span:nth-child(2){
			width: 38vw;
			margin-left: 5vw;
			i{
				margin-left: 7vw;
				right: 3vw;
				float: right;
				margin-right: 2vw;
			}
		}
		.curr{
			color:#e9546b;
			border:1px solid #e9546b;
			i{
				color:#e9546b;
			}
		}
		p{
			display: block;
			position: absolute;
			right: 3vw;
			width: 15.73vw;
			height: 10.13vw;
			display: flex;
			flex-direction: column;
			text-align: center;
			margin:0;
			border-left: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
			font-size: 4vw;
			i{
				font-size: 6.6vw;
			}
		}
	}
	.lists{
		width: 100%;
		margin-top: 10vw;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding:0 3vw;
		.lists_shop{
			width: 46vw;
			display: block;
			position: relative;
			height: 65.6vw;
			box-shadow: 0 0 2vw 0 #cccccc;
			dt{
				width: 46vw;
				height: 46vw;
				img{
					width: 46vw;
					height: 46vw;
				}
			}
			dd{
				margin-left: 0;
				width: 46vw;
				height: 19.6vw;
				p{
					margin:0 2vw;
					line-height: 5.6vw;
					font-size: 3vw;
				}
				.money{
					margin-top:2.5vw;
					color:#eb5269;
					span{
						color:black;
						margin-left: 3vw;
					}
				}
				.getCart{
					position: absolute;
					right: 0vw;
					bottom: 0vw;
					width: 10vw;
					border:none;
					outline: none;
					height: 10vw;
					background: url('../img/car.png') no-repeat 0 0;
					background-size: 100%;
				}
			}
		}
	}
	@mixin hei {
		width: 100vw;
		height: 100%;
		top: 0;
		position: absolute;
		z-index: 777;
		background: rgb(0,0,0);
		opacity: 0.6;
		animation:back 0.8s;
	}
	@mixin choose{
		width:75vw;
		background: #f2f2f2;
		top: 0;
		right: 0;
		padding-left: 3vw;
		box-sizing: border-box;
		z-index: 888;
		position: absolute;
		height: 100%;
		animation:gt 0.6s;
	}
	@mixin model{
		width: 18vw;
		height: 6vw;
		border-radius:3vw;
		text-align: center;
		line-height: 6vw;
	}
	.address{
		overflow: hidden;
		.black{
			@include hei;
		}
		.many_address{
			@include choose;
			h5{
				margin-top: 20vw;
			}
			.now_city{
				margin-top: 10vw;
				font-size: 3.6vw;
				span{
					@include model;
					display: block;
					background:#eb5269; 
					color:white;
					float: right;
					margin-right: 20vw;
					margin-top: -1vw;
				}
			}
			.cities{
				border-top:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				height: 57vw;
				padding-left:0;
				li{
					@include model;
					float: left;
					margin:4vw 2vw 0 2vw;
					font-size: 3vw;
					border:1px solid #cccccc;
					color:black;
				}
				.curr_li{
					color:white;
					background:#eb5269; 
				}
			}
		}
	}
	.cake_types{
		overflow: hidden;
		.black{
			@include hei;
		}
		.many_types{
			@include choose;
		}
		h5{
			margin-top: 10vw;
		}
		span{
			@include model;
			display: block;
			background: #eb5269;
			color:white;
			margin-top: 4vw;
			height: 7vw;
			line-height: 7vw;
		}
		.cities{
			margin-top: 10vw;
			padding-left: 0;
			border-bottom: 1px solid #cccccc;
			position: relative;
			overflow: hidden;
			border-top: 1px solid #cccccc;
			h5{
				position: absolute;
				left: 0;
				top: -4vw;
			}
			li{
				@include model;
				width: 18vw;
				border:1px solid #cccccc;
				float: left;
				font-size: 3vw;
				margin:4vw 2vw 0 2vw;
				height: 7vw;
				line-height: 7vw;
			}
			li:nth-child(2){
				margin-top: 15vw!important;
			}
			li:nth-child(3){
				margin-top: 15vw!important;
			}
			li:nth-child(4){
				margin-top: 15vw!important;
			}
			li:nth-child(11){
				margin-bottom: 7vw!important;
			}
			.curr_type{
				color:white;
				background:#eb5269; 
			}
		}
	}
	.chooseShop{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		.content{
			width: 86.66vw;
			position: absolute;
			top: 50vw;
			left: 6.67vw;
			z-index: 999;
			height: 77.33vw;
			background: white;
			overflow: hidden;
			.ch_head{
				width: 100%;
				overflow: hidden;
				button{
					float: left;
					width: 18vw;
					height: 8vw;
					background: #e7566c;
					color:#fff;
					border:none;
					outline: none;
					margin-top: 4vw;
					margin-left: 34vw;
					border-radius:1vw;
				}
				span{
					display: block;
					margin-top: 2vw;
					float: right;
					width: 6.666667vw;
					height: 6.666667vw;
					background: url(../img/close.png) no-repeat 0vw 0vw;
					background-size: 60%;
				}
			}
			.weight{
				width: 100%;
				height: 14vw;
				margin-top: 3vw;
				button{
					width: 17vw;
					height: 8vw;
					background: #f1f1f1 url("../img/gou.png") no-repeat 10.8vw 2vw;
					background-size:35%; 
					line-height: 8vw;
					color:#e7566c;
					margin-right: 3vw;
					border:none;
					box-sizing: border-box;
					outline: none;
					border-radius: 2vw;
				}
				button:nth-child(1){
					margin-left: 5vw;
				}
				.currBtn{
					border:.013333rem solid #e96478;
					background:white url("../img/gou.png") no-repeat 11vw 2vw;
					background-size:35%; 
				}
				
			}
			.detail{
				ul{
					margin:0;
					padding-left: 8vw;
					li{
						list-style: none;
						font-size: 2vw;
						line-height: 8vw;
					}
				}
			}
			.shop_amount{
				width: 100%;
				height: 10vw;
				display: flex;
				align-items:center;
				input{
					width: 14.6vw;
					height: 7.4vw;
					border:none;
					outline: none;
					margin:0 2vw;
					background: #f1f1f1;
					color:#e96478;
					text-align: center;
				}
				input:nth-child(4){
					background: #e96478;
					margin-left: 0;
					color:#fff;
				}
				span{
					display:block;
					color:#aaa;
					margin:0 5vw 0 12vw;
				}
				i{
					display:block;
					font-size: 7vw;
					color:#aaa;
				}
			}
			.btns{
				button{
					width: 24vw;
					margin-top:2vw;
					height: 8vw;
					background: #e96478;
					color:#fff;
					border:none;
					outline: none;
				}
				button:nth-child(1){
					margin-left: 16vw;
					margin-right: 5vw;
				}
			}
			.cart_alert{
				position: absolute;
				top: 30vw;
				width: 50vw;
				left: 18vw;
				height: 10vw;
				line-height: 10vw;
				font-size: 4vw;
				background:#e7566c;
				overflow: hidden;
				text-align: center;
				color:white;
			}
		}
		.back{
			@include hei;
			overflow: hidden;
		}
	}
}
@keyframes back{
	from {
		opacity:0;
	}
	to {
		opacity:.6;
	}
}
@keyframes gt{
	from {
		right:-75vw;
	}
	to {
		right:0;
	}
}
