.cake_login{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	.login_header{
		img{
			width: 100%;
		}
	}
	.login_login{
		padding: 0 10.67vw;
		box-sizing: border-box;
		input{
			width: 100%;
			box-sizing: border-box;
			height: 10.67vw;
			border:none;
			margin-top: 3vw;
			outline: none;
			font-size: 4.13vw;
			letter-spacing: 1px;
			border-bottom: 1px solid #cccccc;
		}
		.phone,.password{
			text-indent: 1em;
		}
		.login_submit{
			text-align: center;
			background:#eb5269; 
			font-size: 3.82vw;
			margin-top: 6vw;
			color:white;
		}
		.login_regist{
			width: 100%;
			display: block;
			text-align:center;
			line-height: 10.67vw;
			height: 10.67vw;
			background: rgba(248,203,210,.7);
			color:white;
			font-size: 3.82vw;
			border:none;
			outline: none;
			margin-top: 4vw;
		}
		.loginToRegist,.quickLogin{
			position: relative;
			left: 57vw;
			display: block;
			color:#3c78c8;
			margin-top: 6vw;
		}
	}
}