.set_main{
	width:100%;
	height: 100%;
	background: #eeeeee;
	font-size: 4vw;
	color:black;
	a{
		display: block;
		width: 100%;
		background: white;
		height: 13vw;
		line-height: 13vw;
		color:#aaaaaa;
		border-bottom:1px solid #cccccc;
		text-indent: 10vw;
		i{
			margin-left: 66vw;
		}
	}
	p{
		width: 100%;
		margin:0;
		height: 13vw;
		line-height: 13vw;
		color:#aaaaaa;
		background: white;
		text-indent: 10vw;
	}
}