@import '~antd/dist/antd.css';
.app_cake{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	.cake_main{
		flex: 1;
		overflow: auto;
		width: 100vw;
	}
	.footer_nav{
		width: 100%;
		margin:0 !important;
		height: 12.53vw;
		bottom: 0;
		border-top: 1px solid #cccccc;
		box-sizing: border-box;
		>.foot_nav{
			width: 33.333333vw;
			line-height: 12.53vw;
			height: 12.53vw;
			float: left;
			.cake_nav{
				color:#eb5269;
			}
			a{
				display: block;
				margin-left: 13vw;
				color:#cccccc;
				width:6.667vw;
				height: 6.667vw;
				i{
					font-size: 7vw;
				};
			}
		}
		.foot_nav:nth-child(2){
			position: relative;
			.ant-badge{
				top:-17vw!important;
				left:4vw!important;
			}
		}
	}
}
