.app_cake{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	.cake_main{
		flex: 1;
	}
	.footer_nav{
		width: 100%;
		margin:0 !important;
		height: 12.53vw;
		display: flex;
		border-top: 1px solid #cccccc;
		box-sizing: border-box;
		
		>.foot_nav{
			flex: 1;
			line-height: 12.53vw;
			height: 12.53vw;
			.cake_nav{
				color:#eb5269;
			}
			a{
				display: block;
				margin-left: 13vw;
				color:#cccccc;
				width:6.667vw;
				height: 6.667vw;
				i{
					font-size: 7vw;
				};
			}
		}
		.foot_nav:nth-child(2){
			position: relative;
			.cart_amount{
				position:absolute;
				top: 1.5vw;
				left:19vw;
				width: 4vw;
				font-size: 2vw;
				text-align: center;
				display: block;
				line-height: 4vw;
				height: 4vw;
				border-radius: 50%;
				background: #eb5269;
				color:white;
			}
		}
	}
}